# Server Configuration
PORT=3000

ECR_REPO_URI=your_ecr_repo_uri

# AWS Configuration
REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# DynamoDB Configuration
PRODUCTS_TABLE=Products

# S3 Configuration
PRODUCTS_BUCKET=your-products-bucket-name
